<h1>ユーザー一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>MBTIタイプ</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.mbti_type.type_name if user.mbti_type.present? %></td>
        <td><%= link_to '詳細', user_path(user), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
